
    <h1 class="hidden">ThermoSecurity™</h1>
    <header>
       <h2 class="hidden">Header</h2>
            
       <a href="/"
       ><img class="logo" src="images/Logo.svg" alt="logo"
     /></a>
      
       <nav class="navigationBar">
        <h3 class="hidden">Main Navigation</h3>
        <div class="navBar desktop top">
          <ul>
            <a href="/"> <li>Works</li></a>
            <a href="/"> <li>Technologies</li></a>
            <a href="/"><li>Company</li></a>
            <a href="/"><li>Contact</li></a>
            
          </ul>
        </div>
        <div class="hamburgerMenu">
        <div></div>
          <div></div>
          <div></div>
        </div>
        </div>
      </nav>
      <nav class="navBar mobile">
        <h2 class="hidden">Main Navigation Mobile</h2>
        <ul>
          <a href="/"> <li>Works</li></a>
          <a href="/"> <li>Technologies</li></a>
          <a href="/"><li>Company</li></a>
          <a href="/"><li>Contact</li></a>
          
        </ul>
      </nav>

     
        </header>