<!DOCTYPE html>
<html>
  <head>
    <title>ThermoSecurity™</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <link rel="stylesheet" href="css/main.css">
  </head>
  <body>
 
    <h1 class="hidden">ThermoSecurity™</h1>
    <header>
       <h2 class="hidden">Header</h2>
            
       <a href="/"
       ><img class="logo" src="images/logo.svg" alt="logo"
     /></a>
      
       <nav class="navigationBar">
        <h3 class="hidden">Main Navigation</h3>
        <div class="navBar desktop top">
          <ul>
            <a href="/"> <li>Works</li></a>
            <a href="/"> <li>Technologies</li></a>
            <a href="/"><li>Company</li></a>
            <a href="/"><li>Contact</li></a>
            
          </ul>
        </div>
        <div class="hamburgerMenu">
        <img  class ="menuImg" src="images/menu1.svg" alt="Menu">
        </div>
      </nav>
      <nav class="navBar mobile">
        <h2 class="hidden">Main Navigation Mobile</h2>
        <ul>
          <a href="/"> <li>Works</li></a>
          <a href="/"> <li>Technologies</li></a>
          <a href="/"><li>Company</li></a>
          <a href="/"><li>Contact</li></a>
          
        </ul>
      </nav>

     
        </header>

      <script type="module" src="js/main.js"></script>
  </body>
</html>
