
    <h1 class="hidden">ThermoSecurity™</h1>
    <header>
       <h2 class="hidden">Header</h2>
            
       <a href="/"
       ><img class="logo" src="images/Logo.svg" alt="logo"
     /></a>
      
       <nav class="navigationBar">
        <h3 class="hidden">Main Navigation</h3>
        <div class="navBar desktop top">
          <ul>
            <a href="/"> <li>Works</li></a>
            <a href="/"> <li>Technologies</li></a>
            <a href="/"><li>Company</li></a>
            <a href="/"><li>Contact</li></a>
            
          </ul>
        </div>
        <div class="hamburgerMenu">
        <div></div>
          <div></div>
          <div></div>
        </div>
        </div>
      </nav>
      <nav class="navBar mobile">
        <h2 class="hidden">Main Navigation Mobile</h2>
        <ul>
          <a href="/"> <li>Works</li></a>
          <a href="/"> <li>Technologies</li></a>
          <a href="/"><li>Company</li></a>
          <a href="/"><li>Contact</li></a>
          
        </ul>
      </nav>

     
        </header>

        <div class="hero">
        <div class="welcome">
          <h1>ThermoSecurity</h1>
          <h2>It doesn’t cost. It saves.</h2>
        </div>
        <img src="images/phone_mockup.png" alt="Phone Mock up" class="heroImage">
        </div>

        <div class="brandDescription">
          <p>
            You can install device in room that matters most and get the right temperature, right where you want it.
          </p>
        </div>


        <div class="about">
            <h2 class="headline">Product Overview</h2>

            <p class="text"> <span>ThermoSecurity </span>is a home automation service that is specifically designed to control smart home accessories ( temperature, lights, switches, cameras, etc.) and keep users informed about what’s happening around their property even when they’re away. Users can easily manage their smart ThermoSecurity devices via the HouseCom website, iOS or Android app or smartwatch.</p>

            <div id="process">
                <img class="logo2" src="images/scheme.svg" alt="Shceme">


            </div>

        </div>

        <div class="works">
            <h2 class="headline"> How it works</h2>
            <p class=" text" >
                     HouseCom™ ThermoSecurity™ System is a fully digital, hardwired and wireless (WiFi, Bluetooth) enabled home personal and secure environment control system. All communications with the central system are accessible and controlled through the wall unit, product app and the secured portal on the parent website The HouseCom™. ThermoSecurity™ System App is available on both iOS and Android devices</p>
      
       <img class="logo2" src="images/works.svg" alt="Works">

      
      
        </div>

        <div>
            <h2 class="headline"> Reasons to choose us</h2>
            <p class="text"> Termosecurity is the best product in a market. It is safe for family and easy in usage. Device has much more options than simple thermostat. Termosecurity helps to save an energy and easily controlled by phone, tablet, mobile, or enen your smart watch! It saves up to 30% of energy  and reduces heating and cooling costs!
</p>
<div class="iWantToGoHome">
    <section >
 <h2 id="slogan">Simplier.Better.Smarter.</h2>
 <img src="images/alexa.png" alt="alexa" class="alexa">
    </section>
   
    <p class="textAlexa"> Comes with built-in Amazon Alexa Voice Service Regulates so you can easily change the temperature and more with just your voice.</p>

</div>
        </div>
        <div >
            <h2 class="headline">Navigation</h2>

        </div>
        <div class="mockup">
             <picture>
			<source srcset="images/mockup_desktop1.png" media="(min-width: 1024px)">
				<img src="images/mockup_mobile1.png" alt="Product">
		</picture>
        <picture >
			<source srcset="images/mockup_desktop2.png" media="(min-width: 1024px)">
				<img src="images/mockup_mobile2.png" alt="Product">
		</picture>
        </div>

        <div class="mockup">
             <picture>
			<source srcset="images/mockup_desktop3.png" media="(min-width: 1024px)">
				<img src="images/mockup_mobile3.png" alt="Product">
		</picture>
        <picture >
			<source srcset="images/mockup_desktop4.png" media="(min-width: 1024px)">
				<img src="images/mockup_mobile4.png" alt="Product">
		</picture>
        </div>

        <div id="mockupfull">
            <picture >
			<source  srcset="images/mockup_desktop_full.png" media="(min-width: 1024px)" >
				<img src="images/mockup_mobile_full.png" alt="Product">
		</picture>
        </div>


  <section class="productsCon">
    <h2>Our Products</h2>
    <div class="product">
      <img src="images/cctv_camera.jpg" alt="CCTV Camera" class="imageProduct">

      <img src="images/digital_nany.jpg" alt="Digital Nany" class="imageProduct" >

      <img src="images/mug_warmer.jpg" alt="Mug Warmer" class="imageProduct">
      
    </div>

    <div class="product">
      <img src="images/speaker.jpg" alt="Speaker" class="imageProduct">

      <img src="images/wifi_ranger.jpg" alt="Wifi Ranger" class="imageProduct">

      <img src="images/projector.jpg" alt="Projector" class="imageProduct">
      
    </div>
  </section>

  <a href="/"><img class="logoFooter" src="images/logo.svg" alt="logo"/></a>

 <nav class="footerNav">
   <h3 class="hidden">Footer Navigation</h3>
  <ul>
    <li> <a href="#">Works</a> </li>
    <li> <a href="#">Technologies</a> </li>
    <li> <a href="#">Company</a> </li>
    <li> <a href="#">Contacts</a> </li>
  </ul>
  </nav> 

  <section class="socialMedia">
    <h3 class="hidden">Social Media Section</h3>
      <h3>Follow Us</h3>
      <div class="socialIcons">
        <img src="images/facebook.svg" alt="Facebook Icon">
        <img src="images/instagram.svg" alt="Instagram Icon">
        <img src="images/linkedin.svg" alt="Linked In Icon">
        <img src="images/twitter.svg" alt="Twitter Icon">
      </div>
  </section>

  <h3 class="copyRight">Copyright (c) 2019 All Rights Reserved</h3>