<!DOCTYPE html>
<html>

<head>
  <title>ThermoSecurity</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="css/main.css">
</head>

<body>
  <h1 class="hidden">ThermoSecurity™</h1>
  <header>
    <h2 class="hidden">Header</h2>

    <a href="#"><img class="logo" src="images/Logo.svg" alt="logo" /></a>

    <nav class="navigationBar">
      <h3 class="hidden">Main Navigation</h3>
      <div class="navBar desktop top">
        <ul>
          <a href="#">
            <li>Works</li>
          </a>
          <a href="#">
            <li>Technologies</li>
          </a>
          <a href="#">
            <li>Company</li>
          </a>
          <a href="#">
            <li>Contact</li>
          </a>

        </ul>
      </div>
      <div class="hamburgerMenu">
        <div></div>
        <div></div>
        <div></div>
      </div>
      </div>
    </nav>
    <nav class="navBar mobile">
      <h2 class="hidden">Main Navigation Mobile</h2>
      <ul>
        <a href="#">
          <li>Works</li>
        </a>
        <a href="#">
          <li>Technologies</li>
        </a>
        <a href="#">
          <li>Company</li>
        </a>
        <a href="#">
          <li>Contact</li>
        </a>

      </ul>
    </nav>


  </header>


  <div class="about">
    <h2 class="headline">Product Overview</h2>

    <p class="text"> ThermoSecurity is a home automation service that is specifically designed to control smart home
      accessories ( temperature, lights, switches, cameras, etc.) and keep users informed about what’s happening around
      their property even when they’re away. Users can easily manage their smart ThermoSecurity devices via the HouseCom
      website, iOS or Android app or smartwatch.</p>

    <div id="process">
      <img class="logo2" src="images/scheme.svg" alt="Shceme">


    </div>

  </div>

  <div class="works">
    <h2 class="headline"> How it works</h2>
    <p class=" text">
      HouseCom™ ThermoSecurity™ System is a fully digital, hardwired and wireless (WiFi, Bluetooth) enabled home
      personal
      and secure environment control system . All communications with the central system are accessible and controlled
      through the wall unit, product app. and the secured portal on the parent website. The HouseCom™ ThermoSecurity™
      System App. is available on both iOS and Android devices</p>

    <img class="logo2" src="images/works.svg" alt="Works">



  </div>

  <div>
    <h2 class="headline"> ThermoSecurity</h2>
    <p class="text"> Termosecurity is the best product in a market. It is safe for family and easy in use even for
      children. Device has much more options than simple thermostat. Termosecurity helps to save an energy and easily
      controlled by phone!</p>
  </div>

  <div class="thermostat">
    <a href="rooms">Rooms</a>
    <a href="security">Security</a>
    {{{body}}}
  </div>
  <script type="module" src="js/main.js"></script>
</body>

</html>