<div class="rooms">
    <a href="livingroom">Living Room</a>
    <a href="bedroom">Bedroom</a>
    <a href="kitchen">Kitchen</a>
    <a href="outside">Outside</a>
</div>
<div class="display">
    <h1>{{temp}}</h1>
    <img src='images/database/{{light}}.svg' alt={{light}}>
</div>