<div class="security">
    <a href="frontdoor">Front Door</a>
    <a href="backdoor">Back Door</a>
    <a href="window">Window</a>
    <a href="garagedoor">Garage Door</a>

</div>
<div class="display">
    <img src='images/database/{{status}}.svg' alt={{status}}>
    <p>{{description}}</p>
</div>