@import url("https://fonts.googleapis.com/css?family=Nunito&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Montserrat", sans-serif;
  vertical-align: baseline;
  color: white;
  text-decoration: none; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

button {
  border: none; }

p {
  line-height: 1.5em;
  text-align: justify;
  font-weight: lighter; }

body {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#0a0a0a+19,013464+64,0a0a0a+100 */
  background: #0a0a0a;
  /* Old browsers */
  background: -moz-linear-gradient(top, #0a0a0a 19%, #013464 64%, #0a0a0a 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #0a0a0a 19%, #013464 64%, #0a0a0a 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #0a0a0a 19%, #013464 64%, #0a0a0a 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0a0a0a', endColorstr='#0a0a0a',GradientType=0 );
  /* IE6-9 */
  margin: 0;
  padding: 0;
  font-size: 1.4rem;
  font-family: "Nunito", sans-serif;
  color: #F4ECEC; }

ul li {
  text-decoration: none; }

.hidden {
  display: none; }

.overflow {
  overflow: hidden; }

header {
  min-height: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.headline {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 3vh;
  color: #00FFFF;
  font-family: "Nunito", sans-serif;
  font-weight: bold; }

.text {
  padding: 40px;
  font-size: 2vh;
  text-align: justify;
  max-width: 600px;
  margin: 0 auto;
  margin-bottom: 20px;
  letter-spacing: 0.5px; }
  .text span {
    color: #00FFFF; }

.logo {
  width: 75%;
  margin: 20%; }

.desktop ul {
  display: flex; }
.desktop li {
  padding: 20px;
  list-style-type: none;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 10px; }
  .desktop li:hover {
    background: #F4ECEC;
    color: #161515; }
  .desktop li:active {
    opacity: 1;
    background: #F4ECEC;
    color: #161515; }
    .desktop li:active a {
      color: #161515; }

.hamburgerMenu {
  height: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 50px 30px 0 30px; }
  .hamburgerMenu div {
    width: 40px;
    height: 5px;
    background: white;
    border-radius: 20px; }

.navBar {
  display: none; }

.mobile {
  background: #161515;
  z-index: 1;
  height: 100vh;
  width: 100%;
  position: absolute;
  flex-direction: column;
  left: 0;
  margin-top: 120px; }
  .mobile li {
    padding: 20px;
    font-size: 3vh;
    font-family: "PT Sans", Halvetica, sans-serif;
    text-align: center; }
    .mobile li:hover {
      background: #00FFFF;
      color: #161515; }

.toggle {
  display: block; }

@media screen and (min-width: 758px) {
  .mobile li {
    font-size: 3vh; }

  .text {
    font-size: 3vh; }

  .logo2 {
    width: 45%; } }
@media screen and (min-width: 800px) {
  .product {
    display: flex;
    flex-direction: row;
    margin: 0 auto; }
    .product .imageProduct {
      width: 30%; } }
@media screen and (min-width: 1024px) {
  .logo {
    width: 100%; }

  .mobile {
    display: none; }

  .navigationBar {
    padding: 0px;
    align-items: center; }
    .navigationBar .desktop {
      display: block; }
      .navigationBar .desktop li {
        font-size: 20px;
        margin: 40px 40px 40px 40px; }
    .navigationBar .hamburgerMenu {
      display: none; }

  .headline {
    font-size: 5vh;
    margin-top: 100px; }

  .mockup {
    margin-top: 175px; }

  .textAlexa {
    font-size: 3vh; }

  #slogan {
    font-size: 5vh; } }
.logo2 {
  display: block;
  margin: 0 auto;
  margin-bottom: 50px; }

.mockup {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 55px; }

#mockupfull {
  text-align: center;
  margin-top: 150px; }

.huge {
  max-width: 50%; }

.iWantToGoHome {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 2vh;
  margin-bottom: 45px; }

#slogan {
  color: #00FFFF;
  padding-top: none;
  padding-left: 20px;
  padding-right: 20px;
  font-family: "Nunito", sans-serif; }

.alexa {
  display: block;
  margin: 0 auto;
  margin-top: 10px; }

.textAlexa {
  margin: 0;
  max-width: 500px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: none; }

.productsCon {
  margin: 0 auto;
  max-width: 1350px;
  margin-top: 100px;
  margin-bottom: 100px; }
  .productsCon h2 {
    text-align: center;
    margin-bottom: 50px;
    font-family: "Nunito", sans-serif;
    color: #00FFFF; }
  .productsCon .product {
    margin: 0 auto; }
    .productsCon .product .imageProduct {
      display: block;
      max-width: 80%;
      margin: 0 auto;
      margin-top: 40px; }

.logoFooter {
  width: 130px;
  display: block;
  margin: 0 auto;
  margin-bottom: 100px; }

.footerNav {
  display: block;
  margin: 0 auto;
  margin-bottom: 100px; }
  .footerNav ul {
    max-width: 500px;
    display: block;
    margin: 0 auto; }
  .footerNav li {
    display: inline; }
    .footerNav li a {
      font-size: 18px;
      margin-left: 25px; }
      .footerNav li a:hover {
        color: #00FFFF; }

.socialMedia {
  max-width: 400px;
  margin: 0 auto;
  margin-bottom: 70px; }
  .socialMedia h3 {
    text-align: center;
    font-family: "PT Sans", Halvetica, sans-serif;
    margin-bottom: 50px; }
  .socialMedia .socialIcons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; }

.copyRight {
  text-align: center;
  margin-bottom: 40px;
  font-size: 18px; }

.hero {
  height: 500px;
  max-width: 1300px;
  margin: 0 auto;
  margin-bottom: 70px; }
  .hero h1 {
    font-family: "Nunito", sans-serif;
    text-align: center;
    margin-top: 150px;
    color: #F4ECEC; }
  .hero h2 {
    font-family: "PT Sans", Halvetica, sans-serif;
    text-align: center;
    margin: 0 auto;
    max-width: 600px;
    margin-top: 40px;
    color: #00FFFF; }
  .hero img {
    max-width: 420px;
    display: block;
    margin: 0 auto; }

.brandDescription {
  background: url(../images/white_background_img01.jpg);
  height: 600px;
  background-size: cover; }
  .brandDescription p {
    max-width: 400px;
    margin: 0 auto;
    padding-top: 420px;
    font-family: "PT Sans", Halvetica, sans-serif;
    color: #212121; }

@media screen and (min-width: 800px) {
  .hero {
    display: flex;
    flex-direction: row;
    padding-left: 20px; }

  .heroImage {
    max-width: 420px;
    margin-left: 400px; }

  .welcome {
    margin-left: 80px; }

  .brandDescription {
    background: url(../images/white_background_img.jpg);
    height: 700px;
    background-size: cover;
    margin-bottom: 100px; }
    .brandDescription p {
      max-width: 400px;
      margin-left: 20%;
      padding-top: 420px;
      font-family: "PT Sans", Halvetica, sans-serif;
      color: #212121; } }

/*# sourceMappingURL=main.css.map */
