body {
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#0a0a0a+19,013464+64,0a0a0a+100 */
background: #0a0a0a; /* Old browsers */
background: -moz-linear-gradient(top,  #0a0a0a 19%, #013464 64%, #0a0a0a 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #0a0a0a 19%,#013464 64%,#0a0a0a 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #0a0a0a 19%,#013464 64%,#0a0a0a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0a0a0a', endColorstr='#0a0a0a',GradientType=0 ); /* IE6-9 */

    margin: 0;
    padding: 0;
    font-size: 1.4rem;
    font-family: $secondary-font;
    color: $header;
    }
    
   

   ul{
       li{
           text-decoration:none;
       }
   }
    

   .hidden{
    display:none;
}

.overflow {
    overflow: hidden;
  }

  header {
    min-height: 10px;
   // background-color: $header-bar;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
  }


  .headline{
      text-align: center;
      margin-top: 20px;
      margin-bottom: 20px;
      font-size: 3vh;
  }

.text
{
    padding: 30px;
    font-size: 2vh;
    text-align: justify;
    max-width: 600px;
    margin: 0 auto;
}