.hero{
    height: 500px;
    max-width: 1300px;
    margin: 0 auto;
    margin-bottom: 70px;

    h1{
        font-family: $primary-font;
        text-align: center;
        margin-top: 150px;
        color: $header;
    }

    h2{
        font-family: $secondary-font;
        text-align: center;
        margin: 0 auto;
        max-width: 600px;
        margin-top: 40px;
        color: $tagline;
        
    }

    img{
        max-width: 420px;
        display: block;
        margin: 0 auto;
    }
}

.brandDescription{
    background: url(../images/white_background_img01.jpg);
    height: 600px;
    background-size: cover;

    p{
        max-width: 400px;
        margin: 0 auto;
        padding-top: 420px;
        font-family: $secondary-font;
        color: #212121;
    }

}


@media screen and (min-width: 800px){
	.hero{
        display: flex;
        flex-direction: row;
        padding-left: 20px;
    }

    img{
        max-width: 420px;
        margin-left: 400px;
    }

    .welcome{
        margin-left: 80px;
    }

    .brandDescription{
        background: url(../images/white_background_img.jpg);
        height: 700px;
        background-size: cover;
        margin-bottom: 100px;
    
        p{
            max-width: 400px;
            margin-left: 20%;
            padding-top: 420px;
            font-family: $secondary-font;
            color: #212121;
        }
    
    }


}