
.logo2{
    display: block;
    margin: 0 auto;
    margin-bottom: 50px;
}

.mockup
{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top:55px;
}

#mockupfull
{
text-align: center;
 margin-top: 150px;

}

.huge{
    max-width: 50%;
}

