.logo {
  width: 75%;
  margin: 20%;
}

//nav
.desktop {
  //padding: 20px;
  ul {
    display: flex;
  }
  li {
    padding: 20px;
    list-style-type: none;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 10px;
    &:hover {
      background: $header;
      color: $navbar;
    }
    &:active {
      opacity: 1;
      background: $header;
      color: $navbar;
      a {
        color: $navbar;
      }
    }
  }
}

.hamburgerMenu {
  height: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 50px 30px 0 30px; //trbl
  div {
    width: 40px;
    height: 5px;
    background: white;
    border-radius: 20px;
  }
}

.navBar {
  display: none;
}

.mobile {
  background: $navbar;
  z-index: 1;
  height: 100vh;
  width: 100%;
  position: absolute;
  flex-direction: column;
  left: 0;
  margin-top: 120px;

  li {
    padding: 20px;
    font-size: 3vh;
    font-family: $secondary-font;
    text-align: center;

    &:hover {
      background: $tagline;
      color: $navbar;
      a {
        color: $navbar;
      }
    }
  }
}

.toggle {
  display: block;
}

//Tablet
@media screen and (min-width: 758px) {
  .mobile {
    li {
      font-size: 3vh;
    }
  }
  .text {
    font-size: 3vh;
  }

  .logo2 {
    width: 45%;
  }
}

@media screen and (min-width: 800px) {
  .product {
    display: flex;
    flex-direction: row;
    margin: 0 auto;

    .imageProduct {
      width: 30%;
    }
  }
}

//Desktop
@media screen and (min-width: 1024px) {
  .logo {
    width: 100%;
  }
  .mobile {
    display: none;
  }
  .navigationBar {
    padding: 0px;
    align-items: center;

    .desktop {
      display: block;

      li {
        font-size: 20px;
        margin: 40px 40px 40px 40px;
      }
    }

    .hamburgerMenu {
      display: none;
    }
  }
  .headline {
    font-size: 5vh;
    margin-top: 100px;
  }

  .mockup {
    margin-top: 175px;
  }

  .textAlexa {
    font-size: 3vh;
  }
  #slogan {
    font-size: 5vh;
  }
}
