.thermostat {
  width: 100vw;
  background-size: cover;
  justify-content: center;
  display: flex;
  position: relative;
  align-items: center;

  img {
    width: 90vw;
    object-fit: cover;
  }

  h1 {
    font-size: 10vw;
    position: absolute;
  }

  p {
    font-size: 2vw;
  }

  .intro {
    font-size: 5vw;
    text-align: center;
  }

  a {
    font-size: 2vw;
    padding: 20px;
    opacity: 0.5;

    img {
      width: 4vw;
    }
  }

  a:hover {
    opacity: 1;
    transition: 0.5s;
  }
}

.rooms,
.security {
  display: flex;
  position: absolute;
  top: 5%;
}

.thermo-btn {
  position: absolute;
  bottom: 10%;

  a {
    font-size: 10%;
  }
}

.display {
  display: flex;
  width: 50vw;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  h1 {
    font-size: 10vw;
    position: static;
  }

  img {
    width: 10vw;
  }
}
